body{
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;

}

nav{
    background-color: #333;
    padding: 0.5em 2em 0.5em 1em;

    display: flex;
    flex: 0 0 auto;

    align-items: center;
}

#main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
}

#searchIcon{
    height: 2em;
    margin: 0;
}

#search{
    margin: 0 1em;
    flex: 1;

    max-width: 30em;
    font-size: 1.1em;

    position: relative;
}

#searchBar{
    margin: 0;

    width: 100%;

    border: 0;
    padding: 5px;
    outline: 1px solid #666;

    vertical-align: middle;
}

#searchResults{
    color: #222;

    width: calc(100% + 10px);

    position: absolute;

    transition: height .2s ease;
    overflow-y: scroll;

    height: 0;
    max-height: 30em;

    box-shadow: 1px 1px 1px #444;

    z-index: 5;
}

#searchResults div{
    padding: 0.5em;
    min-height: 1em;

    background-color: #DDD;

    box-shadow: 0px 0px 1px #444;

    cursor: pointer;

    transition: background-color 0.25s ease;
}

#searchResults div:hover{
    background-color: #CCC;;
}

.symbol{
    font-weight: bold;
    color: #111;
    vertical-align: middle;
}

.name{
    font-size: 0.6em;  
    vertical-align: middle;    
    margin-left: 1em;   
}

#account{
    color: white;
    font-size: 1.2em;

    position: relative;

    margin-left: auto;
}

#accountButton{
    cursor: pointer;

    line-height: 1em;
}

#accountButton:hover{
    color: #DDD;
}

#caret{
    margin-left: 0.5em;
    font-size: 0.5em;
    vertical-align: middle;
}

#accountDropdown{
    position: absolute; 
    overflow: hidden;
    height: 0;
    right: 0;

    z-index: 10;

    font-size: .9em;
    line-height: 1em;

    color: #222;

    transition: height 0.25s ease;
}

#accountDropdown div{
    padding: 0.5em;
    box-shadow: 0 0 1px #444;

    cursor: pointer;

    background-color: #DDD;
    transition: background-color 0.25s ease;
}

#accountDropdown div:hover{
    background-color: #CCC;
}

#visualization{
    width: 100%;
    flex-grow: 1;
}

#stockInfo{
    position: relative;
    width: 100%;
    background-color: white;

    padding: 0.5em 0;
    text-align: center;

    display: flex;
    flex-direction: row;

    flex: 0 0 auto;

    opacity: 0;
    pointer-events: none;
}

#stockInfo,#priceContainer{
    transition: opacity 0.5s ease;
}

#stockInfo div{
    align-self: center;
}

#priceContainer{
    flex: 1;
}

#priceContainer span{
    display: inline;
}

#nameContainer{
    flex: 0 1 auto;
    margin: 0 2em;
}

#infoSymbol{
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    display: block;
}

#infoName{
    font-size: 1.2em;
}

#favoriteButton{
    width: 2em;
    height: 2em;
    background-image: url('empty-heart.png');
    background-size: cover;

    opacity: 0.2;

    transition: opacity 0.25s ease;

    pointer-events: none;
}

#favoriteButton.loggedIn{
    opacity: 1;
    cursor: pointer;

    pointer-events: auto;
}

#favoriteButton.loggedIn:hover{
    opacity: 0.75;
}

#favoriteButton.selected{
    background-image: url('full-heart.png');
}

#infoPrice{
    font-size: 2.3em;
    font-weight: bold;
    display: block;
    margin-bottom: 0.3em;
}

#infoChange, #infoDate{
    font-size: 1.2em;
    display: block;
    margin: 0 1em;
}

#refreshContainer{
    width: 3em;
    margin: 0 2em;
}

#refresh{
    width: 100%;

    cursor: pointer;
    
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    transition: opacity .25s ease;
}

#refresh:hover{
    opacity: 0.85;
}

#timespanSelect{
    position: absolute;
    left: 1em;
    bottom: 0.5em;
}

#timespanSelect span{
    cursor: pointer;

    transition: color 0.25s ease;
    -webkit-transition: color 0.25s ease;

    z-index: 5;

    float: left;
    margin-right: 1em;
    text-decoration: underline;

    color: #555;

    font-size: 1.3em;
}

#timespanSelect span:hover{
    color: #222;
}

#timespanSelect .selected{
    font-weight: bold;
    font-size: 1.4em;
    color: #222;
}

#errorMessage{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    text-align: center;

    color: #B55;
    font-size: 2em;

    opacity: 0; 
    transition: opacity 0.5s ease;  
}

#errorMessage h2{
    margin: 0;
}

#loginContainer,#favoritesContainer{
    position: fixed;
    width: 100%;
    height: 100%;

    z-index: 30;

    background-color: rgba(100,100,100,0.8);
    opacity: 0;
    pointer-events: none;

    transition: opacity 0.5s ease;
}

#login{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    background-color: white;
    padding: 1em;
}

#loginForm label,input{
    display: block;
    width: 100%;
}

#loginForm input{
    margin-bottom: 1em;
}

#loginError{
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease;

    color: #B55;
}

#submitButtons{
    display: flex;
    flex-direction: row;

    margin-top: 1em;
}

#submitButtons div{
    margin: 0 1em;
    padding: 0.2em 1em;
    cursor: pointer;
    box-shadow: 1px 1px 1px #333;

    background-color: #BBB;

    transition: background-color 0.25s ease;
}

#submitButtons div:hover{
    background-color: #AAA;
}

#favorites{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);

    min-width: 30%;
    max-height: 80%;

    overflow-y:scroll;

    font-size: 1.2em;
}

#favorites div{
    background-color: #DDD;
    padding: 0.5em;

    box-shadow: 0 0 1px #333;
}

#favorites .favoriteLink{
    cursor: pointer;

    transition: background-color 0.25s ease;    
}

#favorites .favoriteLink:hover{
    background-color: #CCC;
}


@media only screen and (max-width: 1000px){
    #priceContainer span{
        display: block;
    }

    #login,#favorites{
        width: 60%;
    }
    #submitButtons div{
        margin: auto;
    }
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 0.8em;
    }

    nav{
        padding-right: 0.5em;
    }

    #timespanSelect {
        display: flex;
        flex-direction: row;
        left: 0;
        width: 100%;
    }
    #timespanSelect span{
        margin: auto;
        float: none;
        text-align: center;
    }

    #nameContainer{
        margin: 0 0.5em 0 1em;
    }
    #refreshContainer{
        margin: 0 1em 0 0.5em;
    }

    #login,#favorites{
        width: 80%;
    }

    #searchResults{
        font-size: 1.3em;
    }
}