body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    background-color: #333;
    padding: 1%;
}

.green{
    background-color: #9D9;
}

.red{
    background-color: #D88;
}

#search{
    margin-left: 2%;
}

#searchBar{
    width: 490px;/*Gonna have to update via JS on browser resize*/
    margin: 0;

    border: 0;
    padding: 5px;
    outline: 1px solid #666;

    vertical-align: middle;
}

#searchResults{
    color: #222;
    background-color: #DDD;

    font-size: 1.2em;

    width:500px;
    margin: 0;

    transition: height .2s ease-in-out;
    overflow-y: scroll;

    height: 0;
    max-height: 50%;

    position: absolute;
    box-shadow: 1px 1px 1px #444;
}

#searchResults div{
    padding: 0.5em 10px;
    height: 1em;

    box-shadow: 0px 0px 1px #444;

    cursor: pointer;
}

#searchResults div.green:hover{
    background-color: #AEA;
}

#searchResults div.red:hover{
    background-color: #E99;
}

.searchSymbol{
    font-weight: bold;
    color: #111;
    margin-right: 1em;
    vertical-align: middle;
}

.searchName{
    font-size: 0.6em;  
    vertical-align: middle;       
}

#visualization{
    width: 90%;
    margin: 2% 5%;
    box-shadow: 1px 1px 1px #444;
}

