body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    background-color: #333;
    padding: 10px 0;
}

#search{
    margin-left: 1%;
}

#searchBar{
    width: 710px;/*Gonna have to update via JS on browser resize*/
    margin: 0;

    border: 0;
    padding: 5px;
    outline: 1px solid #666;

    vertical-align: middle;
}

#searchResults{
    color: #222;
    background-color: #DDD;

    font-size: 1.2em;

    width:720px;
    margin: 0;

    transition: height .2s ease-in-out;
    overflow-y: scroll;

    height: 0;
    max-height: 50%;

    position: absolute;
    box-shadow: 1px 1px 1px #444;

    z-index: 5;
}

#searchResults div{
    padding: 0.5em 10px;
    height: 1em;

    box-shadow: 0px 0px 1px #444;

    cursor: pointer;
}

#searchResults div.green:hover{
    background-color: #AEA;
}

#searchResults div.red:hover{
    background-color: #E99;
}

.searchSymbol{
    font-weight: bold;
    color: #111;
    margin-right: 1em;
    vertical-align: middle;
}

.searchName{
    font-size: 0.6em;  
    vertical-align: middle;       
}

#visContainer{
    width: 100%;
    margin: 0;
    background-color: white;
    position: relative;
    display: block;
    z-index: 3;
}

canvas{
    width: 100%;
}

#overlay{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

#visualization{
    background-color: white;
}

#stockInfo{
    position: relative;
    width: 100%;
    background-color: white;

    padding: 1em 0;
    text-align: center;
}

#nameContainer{
    position: absolute;
    left: 2em;

    min-width: 5%;
}

#infoSymbol{
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    display: block;
}

#infoPrice{
    font-size: 2em;
    font-weight: bold;
    display: block;
    margin-bottom: 0.3em;
}

#infoChange, #infoCompany{
    font-size: 1.1em;
    display: block;
    margin: 0 2em;
}

#priceContainer span{
    display: inline;
}

#timespanSelect{
    display: flex;
    width: 100%;
    margin-bottom: 2%;
    text-align: center;

    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

#timespanSelect div{
    background-color: #EEE;
    margin: auto;
    flex: 1;
    cursor: pointer;
    
    padding: .25em;

    transition: background-color 0.25s;
    -webkit-transition: background-color 0.25s;
    z-index: 1;
}

#timespanSelect div:hover{
    background-color: #DDD;
}

#timespanSelect div:not(:last-child){
    border-right: 1px solid #777; 
}

#timespanSelect .selected{
    background-color: #CCC;
}